<!DOCTYPE html>
<html lang="en" ng-app="PlantsApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Companion Planting Companion">
    <meta name="author" content="Claudia Mane">
    <link rel="icon" href="../../favicon.ico">

    <title>Companion Planting Companion</title>

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/css/style.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
    <script src="/static/js/plants.js"></script>
  </head>

  <body>
  {% raw %}
    <!-- Begin page content -->
    <div class="container" ng-controller="plantsSelection as garden">
      <div class="row">
        <div class="pull-right">
          <a href="#info" role="button" data-toggle="modal">
            <span class="btn-lg glyphicon glyphicon-question-sign" aria-hidden="true"></span>
          </a>
        </div>
        <h1>Companion Planting Companion</h1>
      </div>
      <div class="row">
        <p>Welcome to Companion Planting Companion!</p>
        <div class="alert alert-danger" ng-repeat="error in errors">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <strong>Error!</strong> {{error}}
        </div>
      </div>
      <div class="row">
        <div class="col-md-2" ng-class="{attn: !(plot_width * plot_length)}">
          <h3>Pick your plot size:</h3>
          Width:
          <select class="form-control" ng-model="plot_width">
            <option ng-repeat="i in range(plot_width_max)">{{i}}</option>
          </select>
          Length:
          <select class="form-control" ng-model="plot_length">
            <option ng-repeat="i in range(plot_length_max)">{{i}}</option>
          </select>
        </div>
        <div class="col-md-8">
          <div class="row-fluid">
            <div class="col-md-2 plantblock" ng-repeat="(plant, relationship) in plants" ng-click="addPlant(plant)">
              {{plant}}
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="row" ng-class="{attn: plants_num && plants_num == (plot_width * plot_length)}">
            <button class="btn btn-success">Generate Garden</button>
          </div>
          <div class="row" ng-class="{attn: (plot_width * plot_length) && (plot_width * plot_length) > plants_num}">
            <h3>Current List</h3>
            <h3 ng-hide="!(plot_width * plot_length)">({{plants_num}} out of {{plot_width * plot_length}})</h3>
            <p ng-show="!plants_num">No plants selected.</p>
            <p class="text-danger" ng-show="plants_num > (plot_width * plot_length)">
              Remove plants, too many selected.
            </p>
            <div ng-show="plants_num">
              <div class="row" ng-repeat="(plant, num) in selected_plants" ng-hide="!num">
                <div class="btn-group">
                  <a type="button" class="btn btn-xs btn-default" ng-click="removePlant(plant)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                  <a type="button" class="btn btn-xs btn-default disabled">{{num}}</a>
                  <a type="button" class="btn btn-xs btn-default disabled">{{plant}}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer class="footer">
      <div class="container">
        <p class="text-muted">&#169;2015 Companion Planting Companion <span class="pull-right"><a href="http://www.github.com/claudiay/CPC2">github</a></span></p>
      </div>
    </footer>

    <!-- modal -->
    <div id="info"class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">About Companion Planting Companion</h4>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
              <div class="row">
                <p>About the project.</p>
              </div>
            </div>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

  {% endraw %}
  </body>
</html>
