/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #27ae60;
  color: #FDFDFD;
}

.text-muted {
  color: #fff;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

a,
a:link,
a:visited,
a:hover,
a:active {
  color: #27ae60;
}

.container .text-muted {
  margin: 20px 0;
}


.footer a {
  color: #fff;
}

/* Real CSS */

.modal a {
  color: #27ae60;
}

.content {
  padding-top: 100px;
}

.plantblock {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
  border-radius: 4px;
  padding: 5px;
  margin: 5px;
}


.attn {
  border-style: solid;
  border-width: 5px;
}


